In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
%matplotlib inline

In [4]:
df = pd.read_csv('Travel.csv')
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

## EDA

In [5]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4888 entries, 0 to 4887
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                4888 non-null   int64
 1   ProdTaken                 4888 non-null   int64
 2   Age                       4662 non-null   float64
 3   TypeofContact             4863 non-null   object
 4   CityTier                  4888 non-null   int64
 5   DurationOfPitch           4637 non-null   float64
 6   Occupation                4888 non-null   object
 7   Gender                    4888 non-null   object
 8   NumberOfPersonVisiting    4888 non-null   int64
 9   NumberOfFollowups         4843 non-null   float64
 10  ProductPitched            4888 non-null   object
 11  PreferredPropertyStar     4862 non-null   float64
 12  MaritalStatus             4888 non-null   object
 13  NumberOfTrips             4748 non-null   float64
 14  Passport                  4888 non-null   int64
 15  PitchSatisfactionScore    4888 non-null   int64
 16  OwnCar                    4888 non-null   int64
 17  NumberOfChildrenVisiting  4822 non-null   float64
 18  Designation               4888 non-null   object
 19  MonthlyIncome             4655 non-null   float64
dtypes: float64(7), int64(7), object(6)
memory usage: 763.9+ KB

In [7]:
df.Gender.value_counts(),df.MaritalStatus.value_counts(),df.TypeofContact.value_counts()

(Gender
 Male       2916
 Female     1817
 Fe Male     155
 Name: count, dtype: int64,
 MaritalStatus
 Married      2340
 Divorced      950
 Single        916
 Unmarried     682
 Name: count, dtype: int64,
 TypeofContact
 Self Enquiry       3444
 Company Invited    1419
 Name: count, dtype: int64)

In [8]:
df['Gender'] = df['Gender'].replace('Fe Male', 'Female')
df['MaritalStatus'] = df['MaritalStatus'].replace('Single', 'Unmarried')

In [9]:
print('Missing values:')
naf = [f for f in df.columns if df[f].isnull().sum()>=1]
for f in naf:
    print(f,np.round(df[f].isnull().mean()*100,5),'%')

Missing values:
Age 4.62357 %
TypeofContact 0.51146 %
DurationOfPitch 5.13502 %
NumberOfFollowups 0.92062 %
PreferredPropertyStar 0.53191 %
NumberOfTrips 2.86416 %
NumberOfChildrenVisiting 1.35025 %
MonthlyIncome 4.76678 %

In [10]:
df[naf].select_dtypes(exclude='object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

In [11]:
df.Age.fillna(df.Age.median(), inplace=True)

df.TypeofContact.fillna(df.TypeofContact.mode()[0], inplace=True)

df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)

df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0], inplace=True)

df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0], inplace=True)

df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace=True)

df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0], inplace=True)

df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

C:\Users\Vivek\AppData\Local\Temp\ipykernel_3632\3531573754.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.Age.fillna(df.Age.median(), inplace=True)
C:\Users\Vivek\AppData\Local\Temp\ipykernel_3632\3531573754.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.TypeofContact.fillna(df.TypeofContact.mode()[0], inplace=True)
C:\Users\Vivek\AppData\Local\Temp\ipykernel_3632\3531573754.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.DurationOfPitch.fillna(df.DurationOfPitch.median(), inplace=True)
C:\Users\Vivek\AppData\Local\Temp\ipykernel_3632\3531573754.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfFollowups.fillna(df.NumberOfFollowups.mode()[0], inplace=True)
C:\Users\Vivek\AppData\Local\Temp\ipykernel_3632\3531573754.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.PreferredPropertyStar.fillna(df.PreferredPropertyStar.mode()[0], inplace=True)
C:\Users\Vivek\AppData\Local\Temp\ipykernel_3632\3531573754.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfTrips.fillna(df.NumberOfTrips.median(), inplace=True)
C:\Users\Vivek\AppData\Local\Temp\ipykernel_3632\3531573754.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.NumberOfChildrenVisiting.fillna(df.NumberOfChildrenVisiting.mode()[0], inplace=True)
C:\Users\Vivek\AppData\Local\Temp\ipykernel_3632\3531573754.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.MonthlyIncome.fillna(df.MonthlyIncome.median(), inplace=True)

In [12]:
df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [13]:
df.columns

Index(['CustomerID', 'ProdTaken', 'Age', 'TypeofContact', 'CityTier',
       'DurationOfPitch', 'Occupation', 'Gender', 'NumberOfPersonVisiting',
       'NumberOfFollowups', 'ProductPitched', 'PreferredPropertyStar',
       'MaritalStatus', 'NumberOfTrips', 'Passport', 'PitchSatisfactionScore',
       'OwnCar', 'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [14]:
df.drop('CustomerID',inplace=True,axis=1)
df['TotalVisitings']=df['NumberOfPersonVisiting']+df['NumberOfChildrenVisiting']
df.drop(columns=['NumberOfPersonVisiting','NumberOfChildrenVisiting'],inplace=True,axis=1)

In [15]:
df.columns

Index(['ProdTaken', 'Age', 'TypeofContact', 'CityTier', 'DurationOfPitch',
       'Occupation', 'Gender', 'NumberOfFollowups', 'ProductPitched',
       'PreferredPropertyStar', 'MaritalStatus', 'NumberOfTrips', 'Passport',
       'PitchSatisfactionScore', 'OwnCar', 'Designation', 'MonthlyIncome',
       'TotalVisitings'],
      dtype='object')

## Model Training

In [29]:
X = df.drop(['MonthlyIncome'],axis=1)
y=df['MonthlyIncome']

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=17)
X_train.shape,X_test.shape

((3910, 17), (978, 17))

In [30]:
catag = X.select_dtypes(include="object").columns
numer = X.select_dtypes(exclude="object").columns

from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

numer_ss = StandardScaler()
catag_ohe = OneHotEncoder(drop='first')

ct = ColumnTransformer(
    [
        ("OneHotEncoder", catag_ohe, catag),
        ("StandardScaler", numer_ss, numer)
    ]
)

X_train = ct.fit_transform(X_train)
X_test = ct.transform(X_test)

In [31]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.579094,1.457405,0.687618,0.287203,-0.724450,1.503831,-0.633588,-0.070851,0.789354,-0.057092
1,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,-0.821558,1.457405,2.012046,0.287203,1.780060,1.503831,-0.633588,-0.801796,-1.266858,-0.765758
2,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.033491,1.457405,-0.877614,0.287203,0.527805,-1.224191,-0.633588,-1.532740,-1.266858,-0.765758
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.912763,-0.720486,0.206008,0.287203,1.780060,-0.678587,1.578313,-0.070851,0.789354,0.651574
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-1.148919,0.368459,1.048826,0.287203,-0.724450,-0.678587,1.578313,1.391038,-1.266858,0.651574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3905,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.597009,-0.720486,-0.757212,1.283621,-0.724450,0.958227,-0.633588,-0.801796,-1.266858,1.360240
3906,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,-1.039799,1.457405,-0.757212,-0.709215,0.527805,-0.678587,-0.633588,-1.532740,0.789354,-0.765758
3907,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.579094,-0.720486,-0.757212,0.287203,-0.724450,-0.132982,1.578313,-0.801796,-1.266858,-1.474424
3908,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,...,1.360853,-0.720486,1.771241,-0.709215,-0.724450,0.412622,1.578313,0.660093,0.789354,0.651574
3909,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,-0.821558,1.457405,-0.998017,0.287203,-0.724450,-0.132982,-0.633588,-0.070851,0.789354,-0.057092

In [32]:
pd.DataFrame(X_test)

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.585401,-0.720486,0.808021,0.287203,-0.724450,-0.132982,-0.633588,-1.532740,0.789354,0.651574
1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,-0.930678,-0.720486,1.891643,0.287203,0.527805,-0.132982,1.578313,-1.532740,-1.266858,-0.057092
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,-0.712437,1.457405,-0.396004,0.287203,-0.724450,0.412622,-0.633588,0.660093,0.789354,0.651574
3,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,-0.385075,1.457405,-0.998017,-1.705634,1.780060,-0.132982,-0.633588,0.660093,-1.266858,-0.057092
4,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.378768,-0.720486,2.132448,1.283621,-0.724450,0.958227,1.578313,-0.801796,0.789354,0.651574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.160527,-0.720486,-0.034797,1.283621,0.527805,-0.132982,1.578313,-1.532740,0.789354,-0.057092
974,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,-0.057714,-0.720486,-0.757212,0.287203,0.527805,1.503831,1.578313,0.660093,-1.266858,0.651574
975,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,-0.057714,-0.720486,1.891643,0.287203,-0.724450,-1.224191,-0.633588,-0.070851,0.789354,-1.474424
976,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,-0.166834,0.368459,-0.877614,0.287203,-0.724450,-0.678587,-0.633588,-0.070851,0.789354,-0.765758
977,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.039799,-0.720486,-1.118419,1.283621,0.527805,-1.224191,1.578313,-0.801796,0.789354,-0.765758

In [33]:
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor,AdaBoostRegressor
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,root_mean_squared_error

In [ ]:
models={
    "Linear Regression":LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "KNN": KNeighborsRegressor(),
    "Decision Tree":DecisionTreeRegressor(),
    "Random Forest":RandomForestRegressor(),
    "AdaBoost":AdaBoostRegressor(),
    "Gradient Boost":GradientBoostingRegressor(),
    "XG Boost":XGBRegressor()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    
    y_tpred = model.predict(X_train)
    y_pred = model.predict(X_test)
    
    print('='*35)
    
    print(list(models.keys())[i],':')
    print('Model performance for Training Data:')
    print(f'-RMSE: {root_mean_squared_error(y_train,y_tpred):.4f}')
    print(f'-MAE: {mean_absolute_error(y_train,y_tpred):.4f}')
    print(f'-R2 score: {r2_score(y_train,y_tpred):.4f}')
    
    print('-'*35)
    
    print('Model performance for Test Data:')
    print(f'-RMSE: {root_mean_squared_error(y_test,y_pred):.4f}')
    print(f'-MAE: {mean_absolute_error(y_test,y_pred):.4f}')
    print(f'-R2 score: {r2_score(y_test,y_pred):.4f}')

===================================
Linear Regression :
Model performance for Training Data:
-RMSE: 2768.0768
-MAE: 1546.6953
-R2 score: 0.7276
-----------------------------------
Model performance for Test Data:
-RMSE: 2083.6559
-MAE: 1611.3113
-R2 score: 0.8309
===================================
Lasso :
Model performance for Training Data:
-RMSE: 2768.3517
-MAE: 1547.1581
-R2 score: 0.7275
-----------------------------------
Model performance for Test Data:
-RMSE: 2084.2536
-MAE: 1611.9471
-R2 score: 0.8308
===================================
Ridge :
Model performance for Training Data:
-RMSE: 2768.1820
-MAE: 1547.4014
-R2 score: 0.7276
-----------------------------------
Model performance for Test Data:
-RMSE: 2084.6141
-MAE: 1612.3648
-R2 score: 0.8308
===================================
Decision Tree :
Model performance for Training Data:
-RMSE: 7.1435
-MAE: 0.1934
-R2 score: 1.0000
-----------------------------------
Model performance for Test Data:
-RMSE: 3456.1604
-MAE: 1330.5184
-R2 score: 0.5348
===================================
Random Forest :
Model performance for Training Data:
-RMSE: 1031.1359
-MAE: 442.5858
-R2 score: 0.9622
-----------------------------------
Model performance for Test Data:
-RMSE: 1988.7034
-MAE: 1141.6998
-R2 score: 0.8460
===================================
AdaBoost :
Model performance for Training Data:
-RMSE: 3362.9241
-MAE: 2304.3302
-R2 score: 0.5979
-----------------------------------
Model performance for Test Data:
-RMSE: 3358.7035
-MAE: 2359.5113
-R2 score: 0.5607
===================================
Gradient Boost :
Model performance for Training Data:
-RMSE: 2506.5533
-MAE: 1303.9582
-R2 score: 0.7766
-----------------------------------
Model performance for Test Data:
-RMSE: 1846.4717
-MAE: 1351.4038
-R2 score: 0.8672
===================================
XG Boost :
Model performance for Training Data:
-RMSE: 697.7939
-MAE: 448.4297
-R2 score: 0.9827
-----------------------------------
Model performance for Test Data:
-RMSE: 2238.2810
-MAE: 1152.8307
-R2 score: 0.8049

### Hypermetric Tuning

In [39]:
knnprms = {"n_neighbors": [2, 3, 10, 20, 40, 50]}

dtreeprms = {
    'criterion': ['squared_error', 'friedman_mse', 'absolute_error', 'poisson'],
    'splitter':['best', 'random'],
    'max_depth':[1,2,3,4,5], 
    'max_features':['auto', 'sqrt', 'log2'],
}

rfprms = {
    "max_depth": [5, 8, 15, None, 10],
    "max_features": [5, 7, "auto", 8],
    "min_samples_split": [2, 8, 15, 20],
    "n_estimators": [100, 200, 500, 1000]
}

aboostprms = {
    "n_estimators":[50,60,70,80,90],
    "loss":['linear', 'square', 'exponential']
}

gboostprms= {
    "loss": ['squared_error', 'absolute_error', 'huber', 'quantile'],
    "criterion": ['friedman_mse','squared_error'],
    "min_samples_split": [2, 8, 15, 20],
    "n_estimators": [100, 200, 500],
    "max_depth": [5, 8, 15, None, 10]
}

xgboostparams = {
    "learning_rate": [0.1, 0.01],
    "max_depth": [5, 8, 12, 20, 30],
    "n_estimators": [100, 200, 300],
    "colsample_bytree": [0.5, 0.8, 1, 0.3, 0.4]
}

In [40]:
import warnings
warnings.filterwarnings("ignore")

In [41]:
cv_models=[
    ("KNN",KNeighborsRegressor(),knnprms),
    ("DTree",DecisionTreeRegressor(),dtreeprms),
    ("RF",RandomForestRegressor(),rfprms),
    ("ABoost",AdaBoostRegressor(),aboostprms),
    ("GBoost",GradientBoostingRegressor(),gboostprms),
    ("XgBoost",XGBRegressor(),xgboostparams)
]

from sklearn.model_selection import RandomizedSearchCV

model_params={}
for name,model,params in cv_models:
    rscv = RandomizedSearchCV(estimator=model,param_distributions=params,n_iter=100,cv=3,verbose=2,n_jobs=-1)
    rscv.fit(X_train,y_train)
    model_params[name] = rscv.best_params_
    
for name in model_params:
    print(f"---------------- Best Params for {name} -------------------")
    print(model_params[name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 15 candidates, totalling 45 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
---------------- Best Params for KNN -------------------
{'n_neighbors': 10}
---------------- Best Params for DTree -------------------
{'splitter': 'random', 'max_features': 'sqrt', 'max_depth': 5, 'criterion': 'absolute_error'}
---------------- Best Params for RF -------------------
{'n_estimators': 1000, 'min_samples_split': 2, 'max_features': 5, 'max_depth': None}
---------------- Best Params for ABoost -------------------
{'n_estimators': 60, 'loss': 'exponential'}
---------------- Best Params for GBoost -------------------
{'n_estimators': 500, 'min_samples_split': 8, 'max_depth': 5, 'loss': 'huber', 'criterion': 'squared_error'}
---------------- Best Params for XgBoost -------------------
{'n_estimators': 300, 'max_depth': 8, 'learning_rate': 0.1, 'colsample_bytree': 0.4}

In [42]:
models={
    "Linear Regression":LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "KNN": KNeighborsRegressor(n_neighbors=10),
    "Decision Tree":DecisionTreeRegressor(splitter="random",max_depth=5,max_features="sqrt",criterion="absolute_error"),
    "Random Forest":RandomForestRegressor(n_estimators=1000,min_samples_split=2,max_features=5,max_depth=None),
    "AdaBoost":AdaBoostRegressor(n_estimators=60,loss="exponential"),
    "Gradient Boost":GradientBoostingRegressor(n_estimators=500,min_samples_split=8,max_depth=5,loss="huber",criterion="squared_error"),
    "XG Boost":XGBRegressor(n_estimators=300,max_depth=8,learning_rate=0.1,colsample_bytree=0.4)
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    
    y_tpred = model.predict(X_train)
    y_pred = model.predict(X_test)
    
    print('='*35)
    
    print(list(models.keys())[i],':')
    print('Model performance for Training Data:')
    print(f'-RMSE: {root_mean_squared_error(y_train,y_tpred):.4f}')
    print(f'-MAE: {mean_absolute_error(y_train,y_tpred):.4f}')
    print(f'-R2 score: {r2_score(y_train,y_tpred):.4f}')
    
    print('-'*35)
    
    print('Model performance for Test Data:')
    print(f'-RMSE: {root_mean_squared_error(y_test,y_pred):.4f}')
    print(f'-MAE: {mean_absolute_error(y_test,y_pred):.4f}')
    print(f'-R2 score: {r2_score(y_test,y_pred):.4f}')

===================================
Linear Regression :
Model performance for Training Data:
-RMSE: 2768.0768
-MAE: 1546.6953
-R2 score: 0.7276
-----------------------------------
Model performance for Test Data:
-RMSE: 2083.6559
-MAE: 1611.3113
-R2 score: 0.8309
===================================
Lasso :
Model performance for Training Data:
-RMSE: 2768.3517
-MAE: 1547.1581
-R2 score: 0.7275
-----------------------------------
Model performance for Test Data:
-RMSE: 2084.2536
-MAE: 1611.9471
-R2 score: 0.8308
===================================
Ridge :
Model performance for Training Data:
-RMSE: 2768.1820
-MAE: 1547.4014
-R2 score: 0.7276
-----------------------------------
Model performance for Test Data:
-RMSE: 2084.6141
-MAE: 1612.3648
-R2 score: 0.8308
===================================
KNN :
Model performance for Training Data:
-RMSE: 2990.7145
-MAE: 1860.0227
-R2 score: 0.6820
-----------------------------------
Model performance for Test Data:
-RMSE: 2956.9656
-MAE: 2177.8327
-R2 score: 0.6595
===================================
Decision Tree :
Model performance for Training Data:
-RMSE: 2985.3584
-MAE: 1753.5440
-R2 score: 0.6832
-----------------------------------
Model performance for Test Data:
-RMSE: 2436.9585
-MAE: 1818.0133
-R2 score: 0.7687
===================================
Random Forest :
Model performance for Training Data:
-RMSE: 922.9177
-MAE: 431.4721
-R2 score: 0.9697
-----------------------------------
Model performance for Test Data:
-RMSE: 1813.7810
-MAE: 1187.3733
-R2 score: 0.8719
===================================
AdaBoost :
Model performance for Training Data:
-RMSE: 3119.4813
-MAE: 2304.0501
-R2 score: 0.6540
-----------------------------------
Model performance for Test Data:
-RMSE: 3153.1605
-MAE: 2408.0714
-R2 score: 0.6128
===================================
Gradient Boost :
Model performance for Training Data:
-RMSE: 2045.0439
-MAE: 578.5678
-R2 score: 0.8513
-----------------------------------
Model performance for Test Data:
-RMSE: 1484.7671
-MAE: 997.4834
-R2 score: 0.9141
===================================
XG Boost :
Model performance for Training Data:
-RMSE: 383.2649
-MAE: 229.4822
-R2 score: 0.9948
-----------------------------------
Model performance for Test Data:
-RMSE: 1710.7011
-MAE: 1032.3951
-R2 score: 0.8860